* {
background-color: lightgrey;
}

.todoHeader {
  font-family: 'Unbounded', cursive;
}

p {
  font-family: 'Unbounded';
  font-size:medium;
}

#addtoinput {
  width: 20%;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: white;

}

.todoButton {
  padding: 8px 12px;
  cursor: pointer;
}

.todoButton:hover {
  background-color: blue;
  color: white;
}

.itemList {
  font-family: 'Unbounded';
  text-align: center;
  margin: 10px;
}

.Delete {
  margin: 10px;
  cursor: pointer;
}

.Delete:hover {
  background-color: red;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
